<odoo>

   <record model="ir.actions.act_window" id="module_action_window">
      <field name="name">Create Project Modules</field>
      <field name="res_model">project.module</field>
      <field name="view_mode">tree,form</field>
    </record>

    <record model="ir.actions.act_window" id="function_action_window">
      <field name="name">Function Name</field>
      <field name="res_model">function.name</field>
      <field name="view_mode">tree,form</field>
    </record>

    <record model="ir.actions.act_window" id="fun_add_action_window">
      <field name="name">Function Add</field>
      <field name="res_model">function.add</field>
      <field name="view_mode">tree,form</field>
    </record>

    <record model="ir.actions.act_window" id="module_add_action_window">
      <field name="name">Module Adder</field>
      <field name="res_model">module.name</field>
      <field name="view_mode">tree,form</field>
    </record>

    <record model="ir.actions.act_window" id="tech_view_action_window">
      <field name="name">Technology Details</field>
      <field name="res_model">technology.name</field>
      <field name="view_mode">tree</field>
    </record>

    <record model="ir.actions.act_window" id="tech_add_action_window">
      <field name="name">Technology Adder</field>
      <field name="res_model">tech.add</field>
      <field name="view_mode">tree,form</field>
    </record>










    <!-- Parent -->

    <menuitem name="Custom Project Module"
              id="imenu_root"/>

    <!-- menu categories -->

    <menuitem name="Project Module"
     action="module_action_window"
     id="apple_menu_1"
     parent="imenu_root"/>

    <menuitem name="Module Adders"
     action="module_add_action_window"
     id="apple_menu_2"
     parent="imenu_root"/>

    <menuitem name="Function View"
     action="function_action_window"
     id="apple_menu_3"
     parent="imenu_root"/>

    <menuitem name="Function Add"
     action="fun_add_action_window"
     id="apple_menu_10"
     parent="imenu_root"/>

    <menuitem name="Tech Add"
     action="tech_add_action_window"
     id="apple_menu_11"
     parent="imenu_root"/>

</odoo>