

.my_class table thead > tr > th:nth-child(1){
    width: 130px;
    text-align: center;

}

.my_class table thead > tr > th:nth-child(9){
    width: 150px;
    text-align: center;

}

.my_class table thead > tr > th:nth-child(7){
    width: 90px;
    text-align: center;

}

.my_class table thead > tr > th:nth-child(8){
    width: 90px;
    text-align: center;

}






