.custom_tree {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;

    min-width: 500px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.custom_tree table th,
.custom_tree table td {
    padding: 12px 15px;
}

.custom_tree table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.custom_tree table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.custom_tree table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.custom_tree table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}


.custom_tree table thead > tr > th:nth-last-child(3){
    width: 150px;
    text-align: center;

}

.custom_tree table thead > tr > th:nth-child(2){
    width: 150px;
    text-align: center;

}

.custom_tree table thead > tr > th:nth-child(3){
    width: 150px;
    text-align: center;

}
